<header>
  <link rel="stylesheet" href="/css/header.css" />
  <div class="navbar">
    <div class="hell">
      <h3>Collezblog</h3>
    </div>
    <div>
      <ul>
        <% if(locals.user){ %>
        <li>
          <!--<a class="a_nav" href="/users/profile/">
    <%=user.name %> 
    </a>  -->
          <a class="a_nav" href="/users/profile/<%=user.id %>"
            ><%= user.name %>
          </a>
        </li>
        <li>
          <a class="a_nav" href="/users/sign-out">Sign Out </a>
        </li>

        <% }else{ %>
        <li>
          <a class="a_nav" href="/users/sign-in">Sign In </a>
        </li>

        <li>
          <a class="a_nav" href="/users/sign-up">Sign Up </a>
        </li>

        <% } %>
      </ul>
    </div>
  </div>
</header>
