<header>
  <link rel="stylesheet" href="/css/header.css">
  Page Header 
  <div class="navbar">

  <div>
    <h3>Coolzblog</h3>
  </div>
  <div>
  <ul>
   <% if(locals.user){ %>
    <li>
      <a class="a_nav" href="/users/profile">
    profile
    </a>

    </li>
    <li>
        <a class="a_nav" href="/users/sign-out">Sign Out </a>
    </li>

  <% }else{ %>
    <li>
        <a class="a_nav" href="/users/sign-in">Sign In </a>
    </li>

    <li>
        <a class="a_nav" href="/users/sign-up">Sign Up </a>
    </li>

 <% } %>




  </ul>
</div>
</div>
</header>